.main {
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__content {
  display: flex;
  padding: 5px;
  border: 5px solid white;
}
.main__settings-buttons-box {
  box-sizing: border-box;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.main__run-button {
  border-radius: 50px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-width: 0;
  width: 100px;
  height: 50px;
}
.main__save-button {
  border-radius: 50px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-width: 0;
  width: 100px;
  height: 50px;
}
.main-tablet {
  display: flex;
}
.main__settings {
  box-sizing: border-box;
  position: relative;
  min-height: 200px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.main__content-tablet {
  display: flex;
  margin: 40px;
  padding: 5px;
  border: 5px solid white;
}
@media screen and (max-width: 500px) {
  .main {
    height: 100%;
  }
  .main__settings-buttons-box {
  }
}
