.about {
  width: 100%;
  height: calc(100vh - 160px);
  position: relative;
  display: flex;
  justify-content: center;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 160px);
  background-image: url('../../images/download.png');
  opacity: 0.3;
  z-index: -1;
}

.about__content {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  margin: 0;
  padding-bottom: 30px;
  box-sizing: border-box;
  font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  max-width: 608px;
  color: #000;
}

.about__description {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  max-width: 1008px;
  margin-block-start: 0;
  margin-block-end: 0;
}
