.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.about::after {
  content: '';
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/download.png');
  opacity: 0.3;
}

.about__content {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
  font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  max-width: 608px;
  color: #000;
}

.about__description {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  max-width: 1008px;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media screen and (max-width: 400px) {
  .about__title {
    font-size: 30px;
    line-height: 30px;
  }
  .about__description {
    font-size: 16px;
  }

  .about__content {
    padding: 16px;
  }
}
